:root {
  font-size:62.5%;

  /* VARIAVEIS */
  /* FONTE */
  --fs-body: 1.6rem;
  --ff-heading: 'Staatliches', cursive;
  --ff-p: font-family: 'Palanquin', sans-serif;

  /* CORES */
  --bg-primary: #EFF1FF;
  --bg-header-primary: #8E9AAF;
  --bg-header-secundary: #CBC0D3;
  --bg-card-title: #FEEAFA;
  --cl-card-text: #4A4E69;
  --cl-white: #FFF;
  --cl-black: #23053A;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: var(--fs-body);
  background-color: var(--bg-primary);
}

.page {
  margin: 0 auto;
  max-width: 38.9rem;
}

.page::before  {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--bg-header-primary);
  height: 27.9rem;
  width: 100vw;
  z-index: -1;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-header-primary);
}

header img {
  margin-top: 32px;
}

header .logo-text {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 36px;
  background-color: var(--bg-header-secundary);
}

header .logo-text h1 {
  padding: 8px 87px;
  text-align: center;
  font-family: var(--ff-heading);
  font-size: 4.0rem;
  line-height: 3.4rem;
  letter-spacing: 0.05rem;
  color: var(--cl-white);
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}

main {
  display: grid;
  gap: 3.2rem;
  margin-top: 1.4rem;
  justify-items: center;
  margin-top: 1.4rem;
  margin-bottom: 6rem;
}

main .text-main {
  width: 30.5rem;
}

main .text-main p {
  text-align: center;
  font-family: var(--ff-p);
  font-size: 2rem;
  line-height: 1.5rem;
  color: var(--cl-black);
}

main .card {
  position: relative;
  animation: topdown 900ms;
}



main .card p {
  position: absolute;
  top: 1.6rem;
  right: 1.6rem;
  font-family: var(--ff-heading);
  color: var(--cl-card-text);
  font-size: 2rem;
  line-height: 3.4px;
  letter-spacing: 0.05rem;
  background-color: var(--bg-card-title);
  width: fit-content;
  height: 3.5rem;
  display: inline-flex;
  align-items: center;
  border-radius: 2rem;
  padding: 0 2.4rem;

  animation: downtop 700ms 350ms reverse backwards;
}

@keyframes topdown {
  0% {
    opacity: 0;
    transform: translateY(-15px);

  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes downtop {
  100% {
    opacity: 0;
    transform: translateY(15px);
  }
}